    <div class="header"id="header">
        <div class="navbar">
            <div class="logo">
                <img src="/images/logoCatSinFondo.png">
            </div>
            <div class="Titulo">CUERPO A TIERRA</div>
            <nav class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li><a href="#" class="nav-link active">home</a></li>
                    <li><a href="#Sobre-Mi" class="nav-link">CAT</a></li>
                    <li><a href="#Promos" class="nav-link">Promos</a></li>
                    <li><a href="#Galeria" class="nav-link">Galeria</a></li>
                    <li><a href="#Contacto" class="nav-link">Contacto</a></li>
                </ul>
            </nav>
            <div class="nav-toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>


<!--Inicio contenido principal: VIDEO-->
    <main class="home" id="hero">
        <a href="#" id="#"></a>
        <video muted autoplay loop plays-inline src="mp4/hojas.mp4" type="video/mp4" class="back-video"></video>
        
        <!--<div class="content">
            <h1>CUERPO</h1>
            <h1>A</h1>
            <h1>TIERRA</h1>
            <h2>Soy Lucia y quiero promover el conocimiento y el cuidado integral y natural</h2>
            <a href="#">¡Comencemos!</a>-->
        </div>
    </main>
<!--Fin contenido principal: VIDEO-->

<!--Inicio contenido principal: SOBRE MI-->
    <section class="about" id="about">
        <a href="#Sobre-Mi" id="Sobre-Mi"></a>
        <div class="container">
            <div class="section-title">
                <h2>Un poco sobre mi...</h2>
                <h3>Bienvenidos a todos! Soy Lucia y quiero promover el <span>conocimiento y el cuidado integral y natural</span></h3>
            </div>
            <div class="about-detail">
                <div class="about-detail-content">
                    <div class="about-img">
                        <img src="images/Luli3.jpg" alt="Foto de Luli + Productos">
                    </div>
                    <div class="about-description">
                        <p>Lorem ipsum dolor sit amet<span> odit mollitia </span>adipisicing elit. Corrupti distinctio ut ad consecteturinventore.</p>
                        <p> Eligendi eaque rerum nulla reprehenderit qui neque animi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, <span>eligendi dolorem</span>  aliquam facilis hic repellat dolorum illum, harum ducimus commodi quos .</p>
                        <p>Eligendi, ducimus aliquam commodi quos facilis hic repellat dolorum illum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!---Fin contenido principal: SOBRE MI--->

<!---Inicio contenido COMBOS--->
    <section class="package" id="package">
        <a href="#Promos" id="Promos"></a>
        <div class="seccion-title">
            <h1>Conocé nuestras <span>promos</span></h1>
        </div>
        <div class="package-cards">
            <div class="card">
                <div class="card-title">
                    <h3>Combo "No falla"</h3>
                </div>
                <div class="card-items">
                    <div class="Video">
                        <video muted autoplay loop plays-inline src="mp4/Combo'NoFalla'.mp4" type="video/mp4" class="Video-Combo"></video>
                    </div>
                    <div class="item">
                        <p>Regalas este y quedas, no bien, increiblemente bien!
                        Llenas de alquimias hermosas para el momento de la ducha. Podes elegir el tipo de shampoo que quieras, para cueros normales secos o grasos.</p>
                    </div>
                    <div class="item">
                        <p>Dentro de la caja podes encontrar: <span>El shampoo solido (a eleccion) + eco-jabonera, el aceite de jojoba y el jabon de limpieza facial.</span></p>
                    </div>
                    <div class="item">
                        <p id="Precio-Combos">$ XXX.x</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h3>Combo "Natural o nada"</h3>
                </div>
                <div class="card-items">
                    <div class="Video">
                        <video muted autoplay loop plays-inline src="mp4/Combo'NaturalOnada'.mp4" type="video/mp4" class="Video-Combo"></video>
                    </div>
                    <div class="item">
                        <p>Este combo es dedicado a todos aquellos que recien estan entrando en este hermoso mundo de la cosmetica natural, por que tiene un poco de todo!
                        </p>
                    </div>
                    <div class="item">
                        <p>Dentro de la caja podes encontrar: <span>El shampoo solido, para cueros normales secos o grasos (a eleccion), manteca corporal, jabon de limpieza facial y balsamo para labios de chocolate aguila.</span></p>
                    </div>
                    <div class="item">
                        <p id="Precio-Combos">$ XXX.x</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h3>Combo "El Combito"</h3>
                </div>
                <div class="card-items">
                    <div class="Video">
                        <video muted autoplay loop plays-inline src="mp4/Combo'ElCombito'.mp4" type="video/mp4" class="Video-Combo"></video>
                    </div>
                    <div class="item">
                        <p>Bueno bonito y barato! es un combo que tiene todo lo que necesitas para el cuidado capilar.</p>
                    </div>
                    <div class="item">
                        <p>Dentro de la caja podes encontrar: <span> El shampoo solido, para cueros normales secos o grasos + eco-jabonera y aceite de jojoba.</span></p>
                    </div>
                    <div class="item">
                        <p id="Precio-Combos">$ XXX.x</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!---Fin contenido COMBOS--->

<!--- Inicio GALERIA--->
<section class="gallery" id="gallery">
    <a href="#Galeria" id="Galeria"></a>
    <div class="gallery-content">
        <div class="section-title">
            <h1>Galeria de productos</h1>
        </div>
        <div class="gallery-list-img">
            <div class="gallery-img">
                <img src="images/ShampooSeco.JPG">
            </div>
            <div class="gallery-img">
                <img src="images/ShampooGraso1.jpeg">
            </div>
            <div class="gallery-img">
                <img src="images/ShampooSpirulina.JPG">
            </div>
            <div class="gallery-img">
                <img src="images/ShampooNormal1.jpeg">
            </div>
            <div class="gallery-img">
                <img src="images/Jojoba.jpeg">
            </div>
            <div class="gallery-img">
                <img src="images/aceitito.png">
            </div>
            <div class="gallery-img">
                <img src="images/CremaEnjuague.JPG">
            </div>
            <div class="gallery-img">
                <img src="images/cremita.png">
            </div>
        </div>
    </div>
</section>
<!--- Fin GALERIA--->

<!---Inicio FORMULARIO--->
<section class="Formulario" id="formulario">
        {{#if message}}
            <p class="Message">{{message}}</p>
        {{/if}}
    <a href="#Contacto" id="Contacto"></a>
    <form action="/" method="post">
      <h4 class="consulta">Dejanos tu duda o consulta aquí</h4>
      <div class="mb-2">
        <textarea id="mensaje" class="form-control" placeholder="Escribe tu mensaje aqui" cols="30" rows="10" name="mensaje"></textarea>
      </div>
      <div class="mb-2">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre"/>
      </div>
      <div class="mb-2">
        <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellido"/>
      </div>
      <div class="input-group flex-nowrap mb-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Usuario (ig)" aria-label="Usuario" aria-describedby="addon-wrapping" name="usuario"/>
      </div>
      <div class="mb-2">
        <input type="email" class="form-control" id="email" placeholder="Email" name="email"/>
      </div>
      <div class="mb-2">
        <input type="tel" class="form-control" id="tel" placeholder="Telefono" name="telefono"/>
      </div>
      <button class="btn">Enviar</button>
    </form>

  </section>
  <div class="separation"></div>
<!---Fin FORMULARIO--->

<!---Inicio FOOTER--->
    <footer class="footer" id="contact">
            <div class="footer-list">
                <div class="footer-data">
                    <h1><a href=""><img src="images/logoCatSinFondo.png"></a></h1>
                    <div class="footer-data-social">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="footer-data">
                    <h2>Entregas</h2>
                    <p>Zona norte <br>(San Isidro, Martinez)</p>
                </div>
                <div class="footer-data">
                    <h2>Contacto</h2>
                    <p>(20) 1111-222-333<br>(20) 4444-555-666</p>
                </div>
            </div>
        <div class="copy">
            <p>&copy; Todos los derechos reservados</p>
            <span>Creado por 🤎 Paula Sanguineti</span>
        </div>
    </footer>
<!---Fin FOOTER--->